<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/lista-pet.css" />
    <link rel="stylesheet" href="/assets/css/modal.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <title>VetControl - Lista de Pets</title>
  </head>

  <body>
    <main>
      <section class="side-bar">
        <div class="logo">
          <img src="/assets/images/logo.png" class="imagem" alt="" />
        </div>
        <nav>
          <a href="lista-pets"
            ><img src="/assets/images/home.png" alt="" />Lista de Pets</a
          >
          <a href="agenda"
            ><img src="/assets/images/calendar.png" alt="" />Agenda</a
          >
          <a href="estoque"
            ><img src="/assets/images/stock.png" alt="" />Estoque</a
          >
          <a href="financeiro.html"
            ><img src="/assets/images/finance.png" alt="" />Painel Financeiro</a
          >
          <a href="relatorios.html"
            ><img src="/assets/images/relatorios.png" alt="" />Relátorios</a
          >
        </nav>
      </section>

      <div class="main2">
        <header class="top-bar">
          <div class="left-side">
            <div class="logo">
              <div class="imagem"></div>
              <h1>VetControl</h1>
            </div>
          </div>
          <div class="right-side">
            <img class="userImage" src="/assets/images/User.png" alt="" />
            <span class="userName">Dr.Ernandes</span>
          </div>
          <div class="mobile-modal-button">
            <img src="/assets/images/burguer-icon-mobile.png" alt="" />
          </div>
        </header>
        <main>
          <div class="search">
            <input id="searchInput" type="text" placeholder="Pesquisar" />
            <button id="searchButton">
              <img src="/assets/images/search.png" alt="" />
            </button>
          </div>
          <section class="info-pets-list" id="cards-container">
            <% pets.forEach(pet => { %>
            <div class="pet-card">
              <div class="pet-profile">
                <img
                  src="/assets/images/<%= pet.petTipo === 'Gato' ? 'cat.png' : 'dog.png' %>"
                  alt=""
                />
                <h2><%= pet.petNome %></h2>
              </div>

              <p>Raça: <span><%= pet.raca %></span></p>
              <p>Tutor: <span><%= pet.tutorNome %></span></p>
            </div>
            <% }) %>
          </section>
        </main>
      </div>
    </main>
    <script src="/js/modalListaPet.js" defer></script>
    <script src="/js/sideBar.js"></script>
  </body>
</html>
