<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/modal.css" />
    <link rel="stylesheet" href="../../assets/css/responsive.css" />
    <link rel="stylesheet" href="../../assets/css/reports.css" />
    <title>VetControl - Lista de Pets</title>
  </head>

  <body>
    <main>
      <section class="side-bar">
        <div class="logo">
          <img src="../../assets/images/logo.png" class="imagem" alt="" />
        </div>
        <nav>
          <a href="lista-pets"
            ><img src="../../assets/images/home.png" alt="" />Lista de Pets</a
          >
          <a href="agenda"
            ><img src="../../assets/images/calendar.png" alt="" />Agenda</a
          >
          <a href="estoque"
            ><img src="../../assets/images/stock.png" alt="" />Estoque</a
          >
          <a href="financeiro"
            ><img src="../../assets/images/finance.png" alt="" />Painel
            Financeiro</a
          >
          <a href="relatorios"
            ><img
              src="../../assets/images/relatorios.png"
              alt=""
            />Relátorios</a
          >
        </nav>
      </section>

      <div class="main2">
        <header class="top-bar">
          <div class="left-side">
            <div class="logo">
              <div class="imagem"></div>
              <h1>VetControl</h1>
            </div>
          </div>
          <div class="right-side">
            <img class="userImage" src="../../assets/images/User.png" alt="" />
            <span class="userName">Dr.Ernandes</span>
          </div>
          <div class="mobile-modal-button">
            <img src="assets/images/burguer-icon-mobile.png" alt="" />
          </div>
        </header>
        <main>
          <section class="reports">
            <div class="report">
              <p>Relatorio de pets</p>
              <img src="../../assets/images/graph3.png" alt="" />
              <div>
                <p>Quantidade de pets atendidas</p>
                <div class="report-data">
                  <p>Cachorro: 20</p>
                  <p>Felinos: 12</p>
                  <p>Roedor : 50</p>
                  <p>Passaros: 78</p>
                </div>
              </div>
              <div class="report-data">
                <p>Doutores que mais atenderam</p>
                <div>
                  <p>Carlos: 20</p>
                  <p>Fernando: 12</p>
                  <p>Raul: 50</p>
                  <p>Paulo: 78</p>
                </div>
              </div>
            </div>

            <div class="report">
              <p>Relatorio financeiro</p>
              <img src="../../assets/images/graph4.png" alt="" />
              <div class="report-revenue">
                <header>
                  <p>Despesas</p>
                  <p>valor total</p>
                </header>
                <div class="item item1">
                  <p>Aluguel</p>
                  <p>1990,00</p>
                </div>
                <div class="item">
                  <p>Aluguel</p>
                  <p>1990,00</p>
                </div>
                <div class="item">
                  <p>Aluguel</p>
                  <p>1990,00</p>
                </div>
              </div>
            </div>

            <div class="report">
              <p>Relatorio financeiro</p>
              <img src="../../assets/images/graph4.png" alt="" />
              <div class="report-revenue">
                <header>
                  <p>Entrada</p>
                  <p>saida</p>
                </header>
                <div class="item">
                  <p>bistueri: 10</p>
                  <p>bistueri: 10</p>
                </div>
                <div class="item">
                  <p>ração pra porco: 10x20kg</p>
                  <p>ração pra porco: 10x20kg</p>
                </div>
                <div class="item">
                  <p>ração de gato: 20x30kg</p>
                  <p>ração de gato: 20x30kg</p>
                </div>
                <div class="item">
                  <p>ração de tigre: 10x100kg</p>
                  <p>ração de tigre: 10x100kg</p>
                </div>
                <div class="item">
                  <p>ração de caio: 10x200kg</p>
                  <p>ração de caio: 10x200kg</p>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
    </main>
    <script src="../js/sideBar.js"></script>
  </body>
</html>
